@model StrygevaleDatabase.Models.Class

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить эти данные?</h3>
<div>
    <h4>Класс</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Имя класса")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
