@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>База Школы</h1>
    <p class="lead">База Школы это приложение для работы с базой данных вашей школы.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Возможности</h2>
        <p>StrygevaleDatabase позволит вам выставлять оценки школьникам, смотреть расписание и т.д.</p>
    </div>
    <div class="col-md-6">
        <h2>Запросы</h2>
        <p>По запросам вы можете найти тех или иных учеников, а также учителей, дату уроков и т.д.</p>
    </div>
</div>